
body {
  background-color: lightblue;
  color: black;
}

p {
  font-size: 45px;
  font-family: 'Nanum Brush Script', cursive;
}

#title {
  text-align: center;
  font-family: 'Limelight', cursive;
}

.description {
  text-align: center;
}

form {
  text-align: center;
  background-color: white;
  margin-left: 350px;
  margin-right: 350px;
  padding-bottom: 35px;
}
div {
  padding-top: 15px;
}

.phoneNumber {
  padding-bottom: 20px;
}

